body{
	background-image: url(img/kaktus.png);
	font-family: "Indie Flower", serif;
	font-weight: 600;
	margin: 0;
	padding: 0;
}

#board{
	width: 2100px;
	height: 1250px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 70px;
	background-image: url("img/dach.png");
	cursor: crosshair;
}

#title{
	width: 100%;
	height: 240px;
	margin: 0;
}

h1{
	font-size: 90px;
	color: #cca272;
	letter-spacing: 5px;
	text-align: center;
}

#game{
	width: 100%;
	height: 930px;
	position: relative;
}

#G_O_screen{
	font-size: 120px;
	margin-left: auto;
	margin-right: auto;
	width: 2100px;
	text-align: center;
	color: red;
	z-index: 1;
	position: absolute;
	top: 450px;
}

#stats{
	width: 100%;
	height: 150px;
	background-color: #555;
}

#overlay{
	background-image: url(img/game_bg.png);
	z-index: 100;
	border: 2px solid #472107;
	border-right: 3px solid #472107;
}

#menu{
	width: 2096px;
	height: 930px;
	background-image: url(img/floor.png);
	position: absolute;
	z-index: 2;
}


#ammo_display{
	width: 525px;
	height: 150px;
	font-size: 60px;
	text-align: center;
	line-height: 160px;
	float: left;
	background-image: url(img/shelf1-6.png);
}

#life{
	width: 525px;
	height: 150px;
	font-size: 60px;
	text-align: center;
	line-height: 155px;
	float: left;
	background-image: url(img/shelf2-3.png);
}

#points_display{
	width: 525px;
	height: 150px;
	font-size: 60px;
	text-align: center;
	line-height: 155px;
	float: left;
	background-image: url(img/shelf3.png);
	color: #cca272;
}

#points_needed_display{
	width: 525px;
	height: 150px;
	font-size: 60px;
	text-align: center;
	line-height: 155px;
	float: left;
	background-image: url(img/shelf4.png);
	color: #cca272;
}

#clock{
	opacity: 0.7;
	line-height: 105px;
	color: #500000;
	text-align: center;
	position: absolute;
	font-size: 75px;
	height: 100px;
	width: 100px;
	background-image: url("img/clock.png");
}

.civil{
	width: 100px;
	height: 150px;
	background-image: url("img/oslona1.png");
	position: absolute;
	left: 200px;
	top: 200px;
	opacity: 1;
	transition: all .2s cubic-bezier(0.48,-0.34, 0.5, 1.35);
}

.bandito{
	width: 100px;
	height: 150px;
	background-image: url("img/bandito.png");
	position: absolute;
	scale: 1.6;
	left: 200px;
	top: 180px;
	transition: all .2s cubic-bezier(0.48,-0.34, 0.5, 1.35);
	z-index: 2;
}

#bandito{
	background-image: url("img/bandito3.png");
}

#bandito3{
	background-image: url("img/bandito3.png");
}

#bandito6{
	background-image: url("img/bandito6.png");
}

.banditoff{
	width: 100px;
	height: 150px;
	background-color: #000;
	position: absolute;
	left: 200px;
	top: 200px;
	transition: all .2s cubic-bezier(0.48,-0.34, 0.5, 1.35);
}

.oslona1{
	width: 200px;
	height: 300px;
	background-image: url(img/oslona1.png);
	z-index: 20;
	position: absolute;
	left: 140px;
	top: 70px;
	opacity: 1;
}

.oslona2-3{
	width: 450px;
	height: 350px;
	background-image: url("img/oslona2-3.png");
	z-index: 20;
	position: absolute;
	opacity: 1;
}

.oslona4{
	width: 200px;
	height: 300px;
	background-image: url(img/oslona4.png);
	z-index: 20;
	position: absolute;
	opacity: 1;
}

.oslona5{
	width: 200px;
	height: 300px;
	background-image: url(img/oslona5.png);
	z-index: 20;
	position: absolute;
	opacity: 1;
}

.oslona6{
	width: 200px;
	height: 170px;
	background-image: url("img/oslona6.png");
	z-index: 20;
	position: absolute;
	opacity: 1;
	scale: 1.25;
}

.button{
	cursor: pointer;
	width: 350px;
	height: 150px;
	color: #fff;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	top: 350px;
	text-align: center;
	line-height: 150px;
	font-size: 65px;
	z-index: 10;
	color: #cca272;
	transition: all .1s ease-in-out;
	border-radius: 10px;
	border: 1px solid #000;
}

.button:hover{
	transform: scale(1.05) rotate(5deg);
}

#button_easy{
	left: 465px;
	background-image: url("img/sign.png");
}

#button_easy:hover{
	color: #ccee94;
}

#button_medium{
	left: 865px;
	background-image: url("img/sign2.png");
}

#button_medium:hover{
	color: #ffaf55;
}

#button_hard{
	left: 1265px;
	background-image: url("img/sign3.png");
}

#button_hard:hover{
	color: #ff5555;
}